In [1]:
import yfinance as yf
from datetime import  datetime

In [2]:
symbol = "601398.SS"
stock = yf.Ticker(symbol)

In [3]:
stock.info

{'address1': 'No.55 FuXingMenNei Street',
 'address2': 'Xicheng District',
 'city': 'Beijing',
 'zip': '100140',
 'country': 'China',
 'phone': '86 10 6610 6114',
 'fax': '86 10 6610 7571',
 'website': 'https://www.icbc-ltd.com',
 'industry': 'Banks - Diversified',
 'industryKey': 'banks-diversified',
 'industryDisp': 'Banks - Diversified',
 'sector': 'Financial Services',
 'sectorKey': 'financial-services',
 'sectorDisp': 'Financial Services',
 'longBusinessSummary': "Industrial and Commercial Bank of China Limited, together with its subsidiaries, provides banking products and services in the People's Republic of China and internationally. The company operates through Corporate Banking, Personal Banking, and Treasury Operations segments. The Corporate Banking segment offers financial products and services, such as deposits, trade financing, corporate wealth management, custody, and various corporate intermediary services, as well as corporate loans to corporations, government agencies, and financial institutions. The Personal Banking segment provides financial products and services, including deposit-taking activities, personal loans, card business, personal wealth management services, and various personal intermediary services to individual customers. The Treasury Business segment is involved in the money market transactions, investment securities, and proprietary and foreign exchange transactions businesses. It is also involved in the fund raising, fund sales, asset management, and other businesses; financial leasing; insurance businesses, such as life, health, and accident insurance, as well as reinsurance; sponsorship and underwriting for listing, underwriting for bond issuance, financial consulting, direct investment, sales and trading, asset management, market research, etc.; provision of all-round cross-border comprehensive financial services for corporate and personal customers; debt-for-equity swaps; and issuance of wealth management products, wealth management advisory and consulting services. Industrial and Commercial Bank of China Limited was incorporated in 1984 and is based in Beijing, the People's Republic of China.",
 'fullTimeEmployees': 419252,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Lin  Liao',
   'age': 57,
   'title': 'Executive Chairman',
   'yearBorn': 1966,
   'fiscalYear': 2023,
   'totalPay': 899600,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jingwu  Wang',
   'age': 57,
   'title': 'Senior Executive VP, Chief Risk Officer & Executive Director',
   'yearBorn': 1966,
   'fiscalYear': 2023,
   'totalPay': 825100,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Yan  Xiong',
   'age': 59,
   'title': 'Chief Business Officer',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 1338300,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jianhua  Song',
   'age': 58,
   'title': 'Chief Business Officer',
   'yearBorn': 1965,
   'fiscalYear': 2023,
   'totalPay': 1336200,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Weiwu  Zhang',
   'age': 48,
   'title': 'Senior Executive Vice President',
   'yearBorn': 1975,
   'fiscalYear': 2023,
   'totalPay': 825100,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hongtao  Duan',
   'age': 54,
   'title': 'Senior Executive Vice President',
   'yearBorn': 1969,
   'fiscalYear': 2023,
   'totalPay': 825100,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Fenglin  Tian',
   'age': 56,
   'title': 'Chief Business Officer',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Mingde  Yao',
   'age': 53,
   'title': 'Senior Executive Vice President',
   'yearBorn': 1970,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jun  Liu',
   'age': 51,
   'title': 'President & Vice Chairman',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Rujun  Shen',
   'age': 59,
   'title': 'General Manager of Finance & Accounting Department',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 6.04,
 'open': 6.03,
 'dayLow': 6.01,
 'dayHigh': 6.1,
 'regularMarketPreviousClose': 6.04,
 'regularMarketOpen': 6.03,
 'regularMarketDayLow': 6.01,
 'regularMarketDayHigh': 6.1,
 'dividendRate': 0.31,
 'dividendYield': 0.0507,
 'exDividendDate': 1721088000,
 'payoutRatio': 0.3127,
 'fiveYearAvgDividendYield': 5.66,
 'beta': 0.251,
 'trailingPE': 6.1938777,
 'forwardPE': 6.07,
 'volume': 370323510,
 'regularMarketVolume': 370323510,
 'averageVolume': 458611263,
 'averageVolume10days': 351350159,
 'averageDailyVolume10Day': 351350159,
 'bid': 6.08,
 'ask': 6.08,
 'marketCap': 2012921331712,
 'fiftyTwoWeekLow': 4.65,
 'fiftyTwoWeekHigh': 6.66,
 'priceToSalesTrailing12Months': 3.0913043,
 'fiftyDayAverage': 6.0226,
 'twoHundredDayAverage': 5.65095,
 'trailingAnnualDividendRate': 0.45,
 'trailingAnnualDividendYield': 0.07450331,
 'currency': 'CNY',
 'enterpriseValue': 947494780928,
 'profitMargins': 0.55954,
 'floatShares': 90156526793,
 'sharesOutstanding': 269612007424,
 'heldPercentInsiders': 0.87534,
 'heldPercentInstitutions': 0.06266,
 'impliedSharesOutstanding': 328937013248,
 'bookValue': 10.036,
 'priceToBook': 0.60482264,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1727654400,
 'earningsQuarterlyGrowth': 0.038,
 'netIncomeToCommon': 349381001216,
 'trailingEps': 0.98,
 'forwardEps': 1.0,
 'enterpriseToRevenue': 1.455,
 '52WeekChange': 0.25833333,
 'SandP52WeekChange': 0.3276534,
 'lastDividendValue': 0.3064,
 'lastDividendDate': 1721088000,
 'exchange': 'SHH',
 'quoteType': 'EQUITY',
 'symbol': '601398.SS',
 'underlyingSymbol': '601398.SS',
 'shortName': 'INDUSTRIAL & COMMERCIAL BK OF C',
 'longName': 'Industrial and Commercial Bank of China Limited',
 'firstTradeDateEpochUtc': 1161912600,
 'timeZoneFullName': 'Asia/Shanghai',
 'timeZoneShortName': 'CST',
 'uuid': 'a6d40cb4-ac39-3900-aba3-b0565152575d',
 'messageBoardId': 'finmb_23734930',
 'gmtOffSetMilliseconds': 28800000,
 'currentPrice': 6.07,
 'recommendationKey': 'none',
 'totalCash': 5102473052160,
 'totalCashPerShare': 14.316,
 'totalDebt': 3741464920064,
 'totalRevenue': 651155996672,
 'revenuePerShare': 1.825,
 'returnOnAssets': 0.0078799995,
 'returnOnEquity': 0.09625,
 'operatingCashflow': -158979997696,
 'earningsGrowth': 0.042,
 'revenueGrowth': 0.005,
 'operatingMargins': 0.64721,
 'financialCurrency': 'CNY',
 'trailingPegRatio': 2.3348}

In [4]:
hist = stock.history()

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-10-14 00:00:00+08:00,6.32,6.50,6.32,6.47,789921118,0.0,0.0
2024-10-15 00:00:00+08:00,6.43,6.45,6.26,6.26,492769157,0.0,0.0
2024-10-16 00:00:00+08:00,6.23,6.40,6.22,6.36,414614580,0.0,0.0
2024-10-17 00:00:00+08:00,6.35,6.40,6.29,6.29,328081317,0.0,0.0
2024-10-18 00:00:00+08:00,6.29,6.36,6.21,6.32,514452181,0.0,0.0
2024-10-21 00:00:00+08:00,6.29,6.29,6.14,6.16,568464907,0.0,0.0
2024-10-22 00:00:00+08:00,6.17,6.21,6.11,6.14,431271479,0.0,0.0
2024-10-23 00:00:00+08:00,6.14,6.16,6.11,6.14,306854479,0.0,0.0
2024-10-24 00:00:00+08:00,6.13,6.20,6.12,6.16,288789477,0.0,0.0
2024-10-25 00:00:00+08:00,6.15,6.17,6.10,6.12,284528999,0.0,0.0
2024-10-28 00:00:00+08:00,6.11,6.11,6.03,6.07,329536371,0.0,0.0
2024-10-29 00:00:00+08:00,6.07,6.11,6.05,6.06,293860704,0.0,0.0
2024-10-30 00:00:00+08:00,6.05,6.08,6.00,6.01,305412004,0.0,0.0
2024-10-31 00:00:00+08:00,6.04,6.10,6.01,6.04,305287998,0.0,0.0
2024-11-01 00:00:00+08:00,6.04,6.15,6.03,6.15,451237925,0.0,0.0
2024-11-04 00:00:00+08:00,6.15,6.15,6.05,6.13,318060458,0.0,0.0
2024-11-05 00:00:00+08:00,6.10,6.15,6.09,6.15,312510781,0.0,0.0
2024-11-06 00:00:00+08:00,6.13,6.15,6.07,6.09,345023115,0.0,0.0
2024-11-07 00:00:00+08:00,6.08,6.15,6.06,6.15,379448763,0.0,0.0
2024-11-08 00:00:00+08:00,6.15,6.17,6.10,6.11,330042436,0.0,0.0
2024-11-11 00:00:00+08:00,6.08,6.09,6.02,6.04,398730171,0.0,0.0
2024-11-12 00:00:00+08:00,6.04,6.07,6.00,6.00,329274155,0.0,0.0
2024-11-13 00:00:00+08:00,6.00,6.07,5.98,6.04,343885792,0.0,0.0
2024-11-14 00:00:00+08:00,6.03,6.10,6.01,6.07,370323510,0.0,0.0

In [6]:
hist = stock.history(
    start="1800-01-01"
)

In [7]:
str(hist.index.min().date())

'2006-10-27'

In [8]:
str(hist.index.max().date())

'2024-11-14'

In [9]:
hist["trade_date"] = hist.index

In [10]:
hist.rename(
    columns={
        "Close": "close",
        "Open": "open",
        "High": "high",
        "Low": "low",
        "Volume": "volume"
    },
    inplace=True
)

In [11]:
min_date = hist.index.min()
max_date = hist.index.max()

In [12]:
hist["trade_date"] = hist["trade_date"].dt.strftime('%Y%m%d')

In [13]:
hist = hist[['trade_date', 'open', 'high', 'low', 'close', 'volume' ]]

In [14]:
hist.index = range(0, len(hist))

In [15]:
hist

     trade_date      open      high       low     close      volume
0      20061027  1.439957  1.456898  1.380665  1.389135  2628043909
1      20061030  1.384900  1.406076  1.376430  1.393370   358121850
2      20061031  1.389135  1.410311  1.389135  1.397605   234181010
3      20061101  1.397605  1.401840  1.389135  1.397605   135233965
4      20061102  1.397605  1.397605  1.376430  1.389135   178241665
...         ...       ...       ...       ...       ...         ...
4384   20241108  6.150000  6.170000  6.100000  6.110000   330042436
4385   20241111  6.080000  6.090000  6.020000  6.040000   398730171
4386   20241112  6.040000  6.070000  6.000000  6.000000   329274155
4387   20241113  6.000000  6.070000  5.980000  6.040000   343885792
4388   20241114  6.030000  6.100000  6.010000  6.070000   370323510

[4389 rows x 6 columns]

In [16]:
symbol = symbol.replace(".", "_").lower()

In [17]:
file_name = f"./data/{symbol}-{str(min_date.date())}-to-{str(max_date.date())}.csv"

In [18]:
file_name = file_name.replace("-", "_")

In [19]:
file_name

'./data/601398_ss_2006_10_27_to_2024_11_14.csv'

In [ ]:

hist.to_csv(file_name)

: