In [1]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
symbol = 'CTG'
query_string = {
    'symbol': symbol, 
}
query_string["resolution"] = "1D"
query_string["from"] = str(datetime(2000, 1, 1).timestamp())
query_string["to"] = str(datetime.now().timestamp())

In [5]:
query_string

{'symbol': 'CTG',
 'resolution': '1D',
 'from': '946659600.0',
 'to': '1732251373.281412'}

In [6]:
headers = {'accept': 'application/json, text/plain, */*',
           'accept-encoding': 'gzip, deflate, br, zstd',
           'accept-language': 'en-US,en;q=0.9',
           'origin': 'https://iboard.ssi.com.vn',
           'priority': 'u=1, i',
           'referer': 'https://iboard.ssi.com.vn/',
           'sec-ch-ua': '"Not/A)Brand";v="8", "Chromium";v="126", "Microsoft Edge";v="126"',
           'sec-ch-ua-mobile': '?0',
           'sec-ch-ua-platform': '"Windows"',
           'sec-fetch-dest': 'empty',
           'sec-fetch-mode': 'cors',
           'sec-fetch-site': 'same-site',
           'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36 Edg/126.0.0.0'}

In [7]:
url_without_params = 'https://iboard-api.ssi.com.vn/statistics/charts/history'

In [8]:
response = requests.get(
    url=url_without_params,
    headers=headers,
    params=query_string
)

In [9]:
response.status_code

200

In [10]:
df = pd.DataFrame(response.json()["data"])

In [11]:
df

               t      c      o      h      l        v   s
0     1247702400  10.49  10.47  11.77  10.47  2401900  ok
1     1247788800   9.97  10.10  10.20   9.97  1002480  ok
2     1248048000   9.47   9.47   9.47   9.47   156560  ok
3     1248134400   9.13   9.00   9.29   9.00  2133390  ok
4     1248220800   9.26   9.29   9.39   9.16   949090  ok
...          ...    ...    ...    ...    ...      ...  ..
3824  1731888000  33.30  33.10  33.65  32.70  4072900  ok
3825  1731974400  33.35  33.50  33.60  33.00  5280700  ok
3826  1732060800  34.00  33.05  34.00  33.05  6494000  ok
3827  1732147200  35.00  34.00  35.00  33.60  7810800  ok
3828  1732233600  35.10  34.90  35.20  34.70  2162100  ok

[3829 rows x 7 columns]

In [12]:
df['t'] = pd.to_datetime(df['t'], unit='s').dt.strftime('%m-%d-%Y 00:00:00+00:00')
df['t'] = pd.to_datetime(df['t'])

In [13]:
df

                             t      c      o      h      l        v   s
0    2009-07-16 00:00:00+00:00  10.49  10.47  11.77  10.47  2401900  ok
1    2009-07-17 00:00:00+00:00   9.97  10.10  10.20   9.97  1002480  ok
2    2009-07-20 00:00:00+00:00   9.47   9.47   9.47   9.47   156560  ok
3    2009-07-21 00:00:00+00:00   9.13   9.00   9.29   9.00  2133390  ok
4    2009-07-22 00:00:00+00:00   9.26   9.29   9.39   9.16   949090  ok
...                        ...    ...    ...    ...    ...      ...  ..
3824 2024-11-18 00:00:00+00:00  33.30  33.10  33.65  32.70  4072900  ok
3825 2024-11-19 00:00:00+00:00  33.35  33.50  33.60  33.00  5280700  ok
3826 2024-11-20 00:00:00+00:00  34.00  33.05  34.00  33.05  6494000  ok
3827 2024-11-21 00:00:00+00:00  35.00  34.00  35.00  33.60  7810800  ok
3828 2024-11-22 00:00:00+00:00  35.10  34.90  35.20  34.70  2162100  ok

[3829 rows x 7 columns]

In [14]:
df.rename(
    columns={
        "t": "Date",
        "c": "Close",
        "o": "Open",
        "h": "High",
        "l": "Low",
        "v": "Volume"
    },
    inplace=True
)
df.drop(columns=["s"], inplace=True)

In [15]:
df

                          Date  Close   Open   High    Low   Volume
0    2009-07-16 00:00:00+00:00  10.49  10.47  11.77  10.47  2401900
1    2009-07-17 00:00:00+00:00   9.97  10.10  10.20   9.97  1002480
2    2009-07-20 00:00:00+00:00   9.47   9.47   9.47   9.47   156560
3    2009-07-21 00:00:00+00:00   9.13   9.00   9.29   9.00  2133390
4    2009-07-22 00:00:00+00:00   9.26   9.29   9.39   9.16   949090
...                        ...    ...    ...    ...    ...      ...
3824 2024-11-18 00:00:00+00:00  33.30  33.10  33.65  32.70  4072900
3825 2024-11-19 00:00:00+00:00  33.35  33.50  33.60  33.00  5280700
3826 2024-11-20 00:00:00+00:00  34.00  33.05  34.00  33.05  6494000
3827 2024-11-21 00:00:00+00:00  35.00  34.00  35.00  33.60  7810800
3828 2024-11-22 00:00:00+00:00  35.10  34.90  35.20  34.70  2162100

[3829 rows x 6 columns]

In [16]:
df["Date"].min()

Timestamp('2009-07-16 00:00:00+0000', tz='UTC')

In [17]:
df["Date"].max()

Timestamp('2024-11-22 00:00:00+0000', tz='UTC')

In [18]:
symbol = symbol.replace(".", "_").lower()

In [19]:
min_date = df["Date"].min().date()
max_date = df["Date"].max().date()
file_name = f"../../data/{symbol}/{symbol}-{str(min_date)}-to-{str(max_date)}.csv"

In [20]:
file_name = file_name.replace("-", "_")

In [21]:
file_name

'../../data/ctg/ctg_2009_07_16_to_2024_11_22.csv'

In [22]:
df.to_csv(file_name, index=False)