In [52]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime
import os
from vnstock import company_officers, stock_historical_data

In [53]:
symbol = input("Symbol = ").strip().upper()

start_date = "2024-10-10"

type_get = "stock"
truncate_price = 1000
if symbol.lower() == "vn30" or symbol.lower() == "vnindex":
    type_get = "index"
    truncate_price = 1
    


to_date = input(f"To date = (YYYY-MM-DD)").strip()



# interval = input("""interval = 
                 
#                 ONE_MINUTE = "1"
#                 FIVE_MINUTES = "5"
#                 FIFTEEN_MINUTES = "15"
#                 THIRTY_MINUTES = "30"

#                 ONE_HOUR = "1H"

#                 ONE_DAY = "1D"
#                 ONE_WEEK = "1W"
#                 ONE_MONTH = "1M"
#                  """).strip()
interval = "1D"
is_get_now = input("Get now? (y/n)").strip().lower()[0] == "y"

In [54]:
df_from_vnstock = stock_historical_data(symbol=symbol, start_date=start_date, end_date=to_date, type=type_get, beautify=True, decor=False, source='DNSE')

In [55]:
df_from_vnstock

          time     open     high      low    close     volume ticker
0   2024-10-10  1355.69  1370.15  1355.69  1360.58  308871008   VN30
1   2024-10-11  1361.88  1364.59  1355.07  1362.50  203791888   VN30
2   2024-10-14  1362.84  1373.66  1357.65  1358.76  263233536   VN30
3   2024-10-15  1360.50  1367.55  1353.10  1356.09  262395568   VN30
4   2024-10-16  1355.01  1358.07  1350.45  1354.10  196604944   VN30
5   2024-10-17  1357.31  1362.89  1346.14  1362.89  248684864   VN30
6   2024-10-18  1368.11  1372.66  1360.64  1362.69  301457952   VN30
7   2024-10-21  1361.28  1366.36  1358.03  1358.03  201463888   VN30
8   2024-10-22  1357.42  1359.40  1344.10  1348.92  309707232   VN30
9   2024-10-23  1348.93  1351.72  1340.13  1349.72  257239008   VN30
10  2024-10-24  1349.22  1351.59  1329.62  1329.62  326623616   VN30
11  2024-10-25  1333.77  1334.78  1322.69  1325.54  221606608   VN30
12  2024-10-28  1324.70  1328.57  1322.97  1328.33  205602432   VN30
13  2024-10-29  1328.92  1335.76  1328.92  1335.76  519317152   VN30
14  2024-10-30  1337.16  1338.47  1327.14  1333.85  227158976   VN30
15  2024-10-31  1334.10  1341.01  1328.19  1338.60  306853344   VN30
16  2024-11-01  1333.76  1336.08  1324.42  1325.62  230256064   VN30
17  2024-11-04  1325.94  1326.99  1311.03  1312.64  309700576   VN30
18  2024-11-05  1312.43  1317.60  1311.85  1313.35  163566688   VN30
19  2024-11-06  1314.11  1331.53  1314.11  1329.56  200059456   VN30
20  2024-11-07  1335.07  1336.29  1325.87  1326.65  156419344   VN30
21  2024-11-08  1331.32  1331.51  1312.83  1317.34  215656144   VN30
22  2024-11-11  1317.34  1318.71  1298.78  1310.46  352972768   VN30
23  2024-11-12  1312.55  1315.80  1297.99  1301.95  237916992   VN30
24  2024-11-13  1299.52  1305.42  1290.61  1304.04  239953936   VN30
25  2024-11-14  1300.43  1303.71  1286.52  1286.65  248708736   VN30
26  2024-11-15  1283.78  1284.30  1270.44  1271.22  312371520   VN30
27  2024-11-18  1270.71  1277.80  1255.16  1270.23  287227872   VN30
28  2024-11-19  1272.23  1273.49  1259.00  1259.08  205983632   VN30
29  2024-11-20  1258.25  1277.67  1250.67  1271.73  247127200   VN30
30  2024-11-21  1272.40  1286.67  1266.45  1286.67  228027984   VN30
31  2024-11-22  1285.39  1292.21  1284.47  1286.07  193829264   VN30
32  2024-11-25  1286.46  1293.30  1285.82  1291.94  181004208   VN30
33  2024-11-26  1292.84  1304.34  1292.27  1299.22  175931872   VN30
34  2024-11-27  1297.28  1303.99  1296.94  1301.06  148643008   VN30
35  2024-11-28  1305.79  1310.41  1298.43  1301.52  191832208   VN30
36  2024-11-29  1301.34  1311.67  1298.64  1311.26  186719504   VN30

In [56]:
df_from_vnstock.rename(
    columns={
        "time": "Date",
        "close": "Close",
        "open": "Open",
        "high": "High",
        "low": "Low",
        "volume": "Volume"
    },
    inplace=True
)
df_from_vnstock = df_from_vnstock[[
    "Date",
    "Close",
    "Open",
    "High",
    "Low",
    "Volume",
]]
df_from_vnstock['Date'] = pd.to_datetime(df_from_vnstock['Date']).dt.strftime('%m-%d-%Y 00:00:00+00:00')
df_from_vnstock['Date'] = pd.to_datetime(df_from_vnstock['Date'])

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_18864\417069179.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_from_vnstock['Date'] = pd.to_datetime(df_from_vnstock['Date']).dt.strftime('%m-%d-%Y 00:00:00+00:00')
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_18864\417069179.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_from_vnstock['Date'] = pd.to_datetime(df_from_vnstock['Date'])

In [57]:
df_from_vnstock["Open"] = df_from_vnstock["Open"] / truncate_price
df_from_vnstock["Close"] = df_from_vnstock["Close"] / truncate_price
df_from_vnstock["High"] = df_from_vnstock["High"] / truncate_price
df_from_vnstock["Low"] = df_from_vnstock["Low"] / truncate_price

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_18864\1617515335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_from_vnstock["Open"] = df_from_vnstock["Open"] / truncate_price
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_18864\1617515335.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_from_vnstock["Close"] = df_from_vnstock["Close"] / truncate_price
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_18864\1617515335.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_from_vnstock["High"] = df_from_vnstock["High"] / truncate_price
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_18864\1617515335.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_from_vnstock["Low"] = df_from_vnstock["Low"] / truncate_price

In [58]:
df_from_vnstock["Date"]

0    2024-10-10 00:00:00+00:00
1    2024-10-11 00:00:00+00:00
2    2024-10-14 00:00:00+00:00
3    2024-10-15 00:00:00+00:00
4    2024-10-16 00:00:00+00:00
5    2024-10-17 00:00:00+00:00
6    2024-10-18 00:00:00+00:00
7    2024-10-21 00:00:00+00:00
8    2024-10-22 00:00:00+00:00
9    2024-10-23 00:00:00+00:00
10   2024-10-24 00:00:00+00:00
11   2024-10-25 00:00:00+00:00
12   2024-10-28 00:00:00+00:00
13   2024-10-29 00:00:00+00:00
14   2024-10-30 00:00:00+00:00
15   2024-10-31 00:00:00+00:00
16   2024-11-01 00:00:00+00:00
17   2024-11-04 00:00:00+00:00
18   2024-11-05 00:00:00+00:00
19   2024-11-06 00:00:00+00:00
20   2024-11-07 00:00:00+00:00
21   2024-11-08 00:00:00+00:00
22   2024-11-11 00:00:00+00:00
23   2024-11-12 00:00:00+00:00
24   2024-11-13 00:00:00+00:00
25   2024-11-14 00:00:00+00:00
26   2024-11-15 00:00:00+00:00
27   2024-11-18 00:00:00+00:00
28   2024-11-19 00:00:00+00:00
29   2024-11-20 00:00:00+00:00
30   2024-11-21 00:00:00+00:00
31   2024-11-22 00:00:00+00:00
32   2024-11-25 00:00:00+00:00
33   2024-11-26 00:00:00+00:00
34   2024-11-27 00:00:00+00:00
35   2024-11-28 00:00:00+00:00
36   2024-11-29 00:00:00+00:00
Name: Date, dtype: datetime64[ns, UTC]

In [59]:
now = datetime.now().date()
if not is_get_now:
    df_from_vnstock = df_from_vnstock[df_from_vnstock["Date"] != str(now)]

In [60]:
symbol = symbol.replace(".", "_").lower()
symbol = symbol.lower()
interval = interval.lower()
folder_save = f"../../data/{symbol}"
os.makedirs(folder_save, exist_ok=True)
file_name = f"{folder_save}/{symbol}_to_now_{interval}.csv"


old_df = pd.read_csv(f"{folder_save}/{symbol}_to_now_{interval}.csv")
old_df["Date"] = pd.to_datetime(old_df["Date"])

In [61]:
old_df = old_df[['Open', 'High',
                'Low', 'Close',     
                'Volume', 'Date']]

In [62]:
max_date_in_old_df = str(old_df["Date"].max())

In [63]:
df_today = df_from_vnstock[df_from_vnstock["Date"] > max_date_in_old_df]

In [64]:
old_df["Date"] = old_df["Date"].dt.date
df_today["Date"] = df_today["Date"].dt.date
df = pd.concat([old_df, df_today], ignore_index=True)
df["Date"] = pd.to_datetime(df["Date"])

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_18864\1586841953.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_today["Date"] = df_today["Date"].dt.date

In [65]:
df

         Open     High      Low    Close     Volume       Date
0      449.38   449.38   441.60   447.47   13467070 2012-02-06
1      448.37   450.13   443.38   449.31   17261070 2012-02-07
2      452.13   460.98   450.00   460.98   20406280 2012-02-08
3      467.18   467.18   461.49   464.73   20379320 2012-02-09
4      464.25   464.25   456.52   458.23   20816360 2012-02-10
...       ...      ...      ...      ...        ...        ...
3195  1286.07  1293.30  1285.82  1291.94  139569600 2024-11-25
3196  1291.94  1304.34  1291.94  1299.22  140908100 2024-11-26
3197  1297.28  1303.99  1296.94  1301.06  148643008 2024-11-27
3198  1305.79  1310.41  1298.43  1301.52  191832208 2024-11-28
3199  1301.34  1311.67  1298.64  1311.26  186719504 2024-11-29

[3200 rows x 6 columns]

In [66]:
file_name = file_name.replace("-", "_")

In [67]:
file_name

'../../data/vn30/vn30_to_now_1d.csv'

In [68]:
df.to_csv(file_name, index=False)